._login {
    background-color: #cccccc;
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    .forms_ {
        display: block;
        width: 600px;
        margin: auto;
        background-color: #fff;
        border-radius: 5px;
        padding-top: 30px;
        h1 {
            text-align: center;
            color: #5b5b5b;
            margin-bottom: 0;
        }
        .form_ {
            display: flex;
            flex-direction: column;
            margin: 0 80px 50px;
            label {
                margin: 15px 0 5px;
            }
            input {
                width: 100%;
                /* padding: 10px 15px; */
                border: 10px solid #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgb(126, 153, 163);
                color: #000;
                background-color: #fff;
                margin-top: 15px;
                font-weight: 700;
            }
            input:active,
            input:focus {
                box-shadow: 0 0 5px #ccc;
                opacity: 1 !important;
                outline: 0;
                color: #333;
                background-color: #fff;
            }
            .form-mess-err {
                color: #ff0000;
            }
            .forgot-password {
                color: #5992c3;
                margin-top: 20px;
            }
            button {
                border: none;
                border-radius: 20px;
                text-align: center;
                padding: 10px;
                margin: 15px 0;
                font-size: 16px;
                font-weight: 700;
                background-color: #ffd561;
                cursor: pointer;
            }
            .form-has-user {
                text-align: center;
                span {
                    color: #5992c3;
                    cursor: pointer;
                }
            }
        }
    }
}
