._profile {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;

    .show-profile {
        width: 100%;
        max-width: 1000px;
        justify-content: center;
        background-color: #ffffff;
        margin: 20px 15px;
        padding: 20px 15px;
        border-radius: 10px;

        .left {
            width: 40%;
            padding: 20px 25px 20px 15px;
            .avatar {
                .fullname {
                    text-align: center;
                    font-size: x-large;
                    font-weight: 700;
                }
                .avatar-img {
                    position: relative;
                    .avatar-image,
                    .ant-image-mask {
                        border-radius: 50%;
                    }
                    .change-avatar {
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        bottom: calc(15% - 25px);
                        right: calc(15% - 25px);
                        border-radius: 50%;
                        .ant-upload.ant-upload-select-picture-card {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .right {
            width: 60%;
            border-left: 1px solid #cccccc;
            padding: 20px;
            font-size: larger;
            .right-top {
                padding: 30px 30px 5px;
                border-bottom: 1px solid #cccccc;
                .laber-profile {
                    width: 150px;
                    font-weight: 700;
                }
                .btn-edit-profile {
                    display: flex;
                    justify-content: flex-end;
                    margin: 20px 0;
                    button {
                        cursor: pointer;
                    }
                }
            }
            .right-bottom {
                padding: 30px;
                .old-password {
                    width: calc(50% - 5px);
                }
                .new-password {
                    width: 100%;
                    margin-right: 5px;
                    margin-top: 20px;
                }
                .re-new-password {
                    width: 100%;
                    margin-left: 5px;
                    margin-top: 20px;
                }
            }
            .btn-submit-change-password {
                display: flex;
                justify-content: flex-end;
                margin: 20px 0 0;
                button {
                    cursor: pointer;
                }
            }
        }
    }
    .form-edit_profile {
        padding: 30px;
        width: 100%;
        max-width: 600px;
        .form-edit-profile-label {
            display: flex;
            margin: 10px 0;
            label {
                margin-right: 5px;
                white-space: nowrap;
                // width: 150px;
            }
            .label-radio {
                margin: 0 30px 0 5px;
                cursor: pointer;
            }
        }
        .btn-submit {
            display: flex;
            justify-content: flex-end;
        }
    }
}
